<h1>View All Enquiries</h1>

<p-messages></p-messages>
<p-table #enquiryDataTable [value]="enquiries" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    [globalFilterFields]="['enquiryId','title','description','resolved','customer.firstName']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <input pInputText type="text"
                (input)="enquiryDataTable.filterGlobal($any($event.target).value , 'contains')"
                placeholder="Search keyword" />

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <!-- THIS IS THE HEADER LINE WITH FILTERS -->
        <tr>
            <th>
                <div>
                    ID
                    <p-columnFilter type="numeric" field="ID" display="menu"></p-columnFilter>
                </div>
            </th>

            <th>
                <div>
                    Customer Name
                    <p-columnFilter type="text" field="customerName" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>
                    Resolved
                    <p-columnFilter type="boolean" field="resolved" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>Action</th>
        </tr>
    </ng-template>
    <!-- THIS IS THE BODY -->
    <ng-template pTemplate="body" let-enquiry>
        <tr>
            <td>{{enquiry.enquiryId}}</td>
            <td>{{enquiry.customer.firstName}} {{enquiry.customer.lastName}}</td>
            <td><span [class]="'enquiry-badge-' + enquiry.resolved">{{enquiry.resolved}}</span></td>
            <td>
                <p-button label="View" (onClick)="showDialog(enquiry)" icon="pi pi-search"></p-button>&nbsp;
                
            </td>
        </tr>
    </ng-template>
</p-table>

<form #updateEnquiryForm="ngForm" (ngSubmit)="update(updateEnquiryForm)">
    <p-dialog *ngIf="display" header="Enquiry ID: {{enquiryToView.enquiryId}}" [(visible)]="display"
        [style]="{width: '50vw'}">
        <div class="ui-g">

            <p-panel header="From:  {{(enquiryToView.customer != null)?(enquiryToView.customer.firstName):('')}}">

                <p>{{enquiryToView.title}}</p>
                <p>{{enquiryToView.description}}</p>
            </p-panel>
            <br />
            <p-panel header="Actions">
                <label for="prevResponse">Previous response: </label>
                {{enquiryToView.response}}
                <br/>
                <br />
                <textarea [(ngModel)]="response" name="response" placeholder="Staff response" rows="10" [cols]="50"
                    pInputTextarea autoResize="autoResize"></textarea>
                <br />
                <p-button label="Submit" (onClick)="update(updateEnquiryForm)"></p-button> &nbsp;
                <p-button label="Resolve" (onClick)="resolve(updateEnquiryForm)" [disabled]="enquiryToView.resolved!"></p-button>

            </p-panel>
            <br />
        </div>


    </p-dialog>
</form>