<h1>View All Customers</h1>

<p-table #customerTable [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    [globalFilterFields]="['customerId','firstName','lastName','amountSpent']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <input pInputText type="text"
                (input)="customerTable.filterGlobal($any($event.target).value , 'contains')"
                placeholder="Search keyword" />

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <!-- THIS IS THE HEADER LINE WITH FILTERS -->
        <tr>
            <th>
                <div>
                    ID
                    <p-columnFilter type="numeric" field="ID" display="menu"></p-columnFilter>
                </div>
            </th>

            <th>
                <div>
                    Customer Name
                    <p-columnFilter type="text" field="customerName" display="menu"></p-columnFilter>
                </div>
            </th>

            <th>Amount Spent
                <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
            </th>
        </tr>
    </ng-template>
   
    <!-- THIS IS THE BODY -->
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.customerId}}</td> 
            <td>{{customer.firstName}} {{customer.lastName}}</td>
            <td> {{customer.amountSpent | currency:'SGD':'symbol'}}</td>
    
        </tr>
    </ng-template>
</p-table>