<h1>View All Customers</h1>

<p-table #customerTable [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10,25,50]" [paginator]="true"
    [globalFilterFields]="['customerId','firstName','lastName','amountSpent']">
    <ng-template pTemplate="caption">
        <div class="flex">
            <input pInputText type="text" (input)="customerTable.filterGlobal($any($event.target).value , 'contains')"
                placeholder="Search keyword" />

        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <!-- THIS IS THE HEADER LINE WITH FILTERS -->
        <tr>
            <th>
                <div>
                    ID
                    <p-columnFilter type="numeric" field="customerId" display="menu"></p-columnFilter>
                </div>
            </th>

            <th>
                <div>
                    First Name
                    <p-columnFilter type="text" field="firstName" display="menu"></p-columnFilter>
                </div>
            </th>

            <th>
                <div>
                    Last Name
                    <p-columnFilter type="text" field="lastName" display="menu"></p-columnFilter>
                </div>
            </th>



            <th [pSortableColumn]="'amountSpent'">Amount Spent
                <p-sortIcon [field]="'amountSpent'"></p-sortIcon>
              
            </th>

            <th><div>
                Banned (review & comment)
                <p-columnFilter type="boolean" field="isBanned" display="menu"></p-columnFilter>
            </div>
            </th>
            
            <th>Action</th>

        </tr>
    </ng-template>

    <!-- THIS IS THE BODY -->
    <ng-template pTemplate="body" let-customer>
        <tr>
            <td>{{customer.customerId}}</td>
            <td>{{customer.firstName}} </td>
            <td>{{customer.lastName}}</td>
            <td> {{customer.amountSpent | currency:'$':'symbol'}}</td>
            <td><span [class]="'ban-badge-' + customer.isBanned"> {{
                customer.isBanned == true
                  ? "BANNED"
                  : "NOT BANNED"
              }}
              </span></td>
            <td><p-button label="View" (onClick)="showDialog(customer)" icon="pi pi-search"></p-button></td>

        </tr>
    </ng-template>
</p-table>


<form #updateCustomerForm="ngForm">
    <p-dialog *ngIf="display" header="Customer ID: {{customerToView.customerId}}" [(visible)]="display"
        [style]="{width: '50vw'}">
        <div class="ui-g">
            <p-confirmPopup></p-confirmPopup>
            <p-messages></p-messages>
            <p><label>{{customerToView.firstName}} {{customerToView.lastName}}, {{customerToView.gender}}</label></p>
            <p><label>@{{customerToView.userName}}</label></p>
            <p><label>{{customerToView.email}}</label></p>
            <p><label>{{customerToView.dob}}</label></p>
            <br/>
            <p><label>{{customerToView.address}}</label></p>
            <p><label>+65 {{customerToView.contactNumber}}</label></p>
            <br />
            <p-button label="Ban" [disabled]="customerToView.isBanned!" (click)="confirm($event)"></p-button>

            <br />
        </div>


    </p-dialog>
</form>