<app-breadcrumb [pageName]="'createNewIngredient'"></app-breadcrumb>

<h3>Create New Ingredient</h3>
<br />

<div *ngIf="resultSuccess == true" style="color:blue;">
    {{message}}
</div>

<div *ngIf="resultError == true" style="color:red;">
    {{message}}
</div>

<form #createIngredientForm="ngForm" (ngSubmit)="create(createIngredientForm)">

    <table>
        <tr>
            <td><label for="ingredientName">Ingredient Name: </label></td>
            <td>
                <input id="ingredientName" type="text" name="name" pInputText [(ngModel)]="newIngredient.name" required="true">
            </td>
        </tr>
        <tr>
            <td><label for="ingredientDescription">Ingredient Description: </label></td>
            <td>
                <input id="ingredientDescription" type="text" name="description"pInputText [(ngModel)]="newIngredient.description"
                    required="true">
            </td>
        </tr>
        <tr>
            <td><label for="ingredientUnit">Ingredient Unit: </label></td>
            <td>
                <p-dropdown inputId="ingredientUnit" name="ingredientUnit" [options]="ingredientUnits" [(ngModel)]="newIngredient.ingredientUnit">
                </p-dropdown>
            </td>
        </tr>
        <tr>
            <td><label for="currency-sg">Unit Price($): </label></td>
            <td>
                <p-inputNumber [(ngModel)]="newIngredient.unitPrice" inputId="currency-sg" name="unitPrice" mode="currency"
                    currency="SGD" locale="en-SG">
                </p-inputNumber>
            </td>
        </tr>
        <tr>
            <td><label for="stockQuantity">Stock Quantity: </label></td>
            <td>
                <p-inputNumber [(ngModel)]="newIngredient.stockQuantity" name="stockQuantity" inputId="stockQuantity" [min]="1"
                    placeholder="0">
                </p-inputNumber>
            </td>
        </tr>
        <tr>
            <td>Restock Quantity: </td>
            <td>
                <p-inputNumber [(ngModel)]="newIngredient.reorderQuantity" name="reorderQuantity" [showButtons]="true"
                    buttonLayout="horizontal" spinnerMode="horizontal" [step]="10"
                    decrementButtonClass="p-button-danger" incrementButtonClass="p-button-success"
                    incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus">
                </p-inputNumber>
            </td>
        </tr>

        <tr>
            <td colspan="2">
                <p-button label="Submit" (onClick)="create(createIngredientForm)"></p-button>
            </td>
        </tr>
    </table>


</form>