<div>
  <p-radioButton
    [(ngModel)]="isParent"
    (click)="changeToParent()"
    update="table"
    [value]="0"
  ></p-radioButton
  >&nbsp;
  <label>View Parent Categories</label>
</div>
<br />
<div>
  <p-radioButton
    [(ngModel)]="isParent"
    (click)="changeToSub()"
    update="table"
    [value]="1"
  ></p-radioButton
  >&nbsp;
  <label>View Sub Categories</label>
</div>
<br />
<p-table
  name="table"
  #categoryDataTable
  [value]="categories"
  dataKey="id"
  [rows]="10"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]"
  [paginator]="true"
  [globalFilterFields]="['categoryId']"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Category ID</th>
      <th>Name</th>
      <th>Description</th>
      <th>Parent Category</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-category>
    <tr>
      <td>{{ category.categoryId }}</td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
    </tr>
  </ng-template>
</p-table>
