<header class="header">
	<h1>ReadyFoods Administrative Web</h1>
	<aside id="loginbox" class="loginbox">

		<div *ngIf="sessionService.getIsLogin() == false">
			<label for="username">Username </label>
			<input pInputText  type="text" [(ngModel)]="username" size="16" required maxlength="32" />
			&nbsp;
			<label for="password">Password </label>
			<input pInputText type="password" [(ngModel)]="password" size="16" required maxlength="32" />
			<!-- &nbsp;
			<input pButton styleClass="p-button-link" type="reset" value="Clear" /> -->
			<!-- &nbsp; -->
			<p-button type="button" styleClass="p-button-link" (click)="staffLogin()" value="Login">Login</p-button>
		</div>

		<div *ngIf="loginError == true" style="text-align: right; color: red;">
			Invalid login credential: Username does not exist or invalid password!
		</div>

		<div *ngIf="sessionService.getIsLogin() == true">
			<label>Welcome @{{sessionService.getCurrentStaff().username}} :
				{{sessionService.getCurrentStaff().firstName}} {{sessionService.getCurrentStaff().lastName}}
				(
				<span *ngIf="sessionService.getCurrentStaff().staffType == 'ADMINISTRATOR'">ADMINISTRATOR</span>
				<span *ngIf="sessionService.getCurrentStaff().staffType == 'MODERATOR'">MODERATOR</span>)
			</label>
			<p-button type="button" styleClass="p-button-link" (click)="staffLogout()">Logout</p-button>
		</div>
	</aside>
</header>