<h1>View All Subscriptions</h1>

<p-table #subscriptionDataTable [value]="subscriptions" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" responsiveLayout="scroll"
    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [globalFilterFields]="[
'subscriptionId',
'subscriptionStartDate',
'weeklyPrice',
'numOfPeople',
'numOfRecipes',
'ongoing'
]">
    <ng-template pTemplate="caption">
        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(subscriptionDataTable)"></button>
        <div class="flex">
            <input pInputText type="text" (input)="
      subscriptionDataTable.filterGlobal($any($event.target).value, 'contains')
    " placeholder="Search keyword" />
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th>
                <div>
                    Subscription ID
                    <p-columnFilter type="numeric" field="orderEntityId" display="menu"></p-columnFilter>
                </div>
            </th>

            <th [pSortableColumn]="'subscriptionStartDate'">Date Subbed
                <p-sortIcon [field]="'subscriptionStartDate'"></p-sortIcon>

            </th>

            <th [pSortableColumn]="'weeklyPrice'">Weekly Price
                <p-sortIcon [field]="'weeklyPrice'"></p-sortIcon>

            </th>
            <th>
                <div>
                    Number of recipes
                    <p-columnFilter type="numeric" 
                    field="numOfRecipes" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>
                    Number of people
                    <p-columnFilter type="numeric" 
                    field="numOfPeople" display="menu"></p-columnFilter>
                </div>
            </th>
            <th>
                <div>
                    Ongoing
                    <p-columnFilter type="boolean" 
                    field="ongoing" display="menu"></p-columnFilter>
                </div>
            </th>

    </ng-template>

    <ng-template pTemplate="body" let-sub>
        <tr>
            <td>{{sub.subscriptionId}}</td>
            <td>{{sub.subscriptionStartDate}}</td>
            <td>{{sub.weeklyPrice | currency:'$':'symbol'}}</td>
            <td>{{sub.numOfRecipes}}</td>
            <td>{{sub.numOfPeople}}</td>
            <td> <span [class]="'ongoing-badge-' + sub.ongoing">{{sub.ongoing}}</span></td>


            <!-- <td>{{order.totalCost | currency:'$':'symbol'}}</td> -->
            <!-- <td> <span [class]="'status-badge-' + order.status">{{order.status}}</span></td> -->


        </tr>
    </ng-template>



</p-table>