<h3>Create New Staff</h3>
<br />



<div *ngIf="resultSuccess == true" style="color: blue">
  {{ message }}
</div>

<div *ngIf="resultError == true" style="color: red">
  {{ message }}
</div>
<form #createStaffForm="ngForm" (ngSubmit)="create(createStaffForm)">
  <p-panel>
  <label for="firstName" class="block" style="font-weight: bold;">First Name</label>
  <input id="firstName" type="text"
  pInputText [(ngModel)]="newStaff.firstName"
  name="firstName"
  required="true"
  placeholder="John"/>

  <label for="lastName" class="block" style="font-weight: bold;">Last Name</label>
  <input id="lastName" type="text"
  pInputText [(ngModel)]="newStaff.lastName"
  name="lastName"
  required="true"
  placeholder="Smith"/>

  <label for="username" class="block" style="font-weight: bold;">Username</label>
  <input id="username" type="username"
  pInputText [(ngModel)]="newStaff.username"
  name="username"
  required="true"
  placeholder="username"/>

  <label for="staffType" class="block" style="font-weight: bold;">Staff Type</label>
  <p-dropdown name="staffType"[options]="staffTypes" [(ngModel)]="staffType" [showClear]="true"></p-dropdown>

  <label for="password" class="block" style="font-weight: bold;">Password</label>
  <input id="password" type="password"
  pInputText [(ngModel)]="newStaff.password"
  name="password"
  required="true"
  placeholder="password"/>

  <p-button label="Submit" (onClick)="create($event)"></p-button>
</p-panel>
</form>
